<div class="row mt-4">
  <div class="col-6">
    <div class="card border-success">
      <h3 class="card-header bg-success">Create Customer</h3>
      <div class="card-body">
        <form [formGroup]="rfCustomer" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label hidden>ID: </label>
            <input hidden type="text" class="form-group" formControlName="id">
          </div>
          <div class="form-group">
            <label>Name: </label>
            <input type="text" class="form-group" formControlName="name">
            <span *ngIf="rfCustomer.controls.name.touched
        && rfCustomer.controls.name.errors?.required" style="color: red;">Required input</span>
            <span *ngIf="rfCustomer.controls.name.dirty
        && rfCustomer.controls.name.errors?.minlength" style="color: red;">Min length: 5</span>
          </div>
          <div class="form-group mt-4">
            <label>Date Of Birth: </label>
            <input type="date" class="form-group" formControlName="dayOfBirth">
          </div>
          <div class="form-group mt-4">
            <label>Gender: </label>
            <input type="radio" class="form-group" formControlName="gender" value="0">Female
            <input type="radio" class="form-group" formControlName="gender" value="1">Male
          </div>
          <div class="form-group mt-4">
            <label>ID card: </label>
            <input type="text" class="form-group" formControlName="idCard">
          </div>
          <div class="form-group mt-4">
            <label>Phone: </label>
            <input type="text" class="form-group" formControlName="phone">
          </div>
          <div class="form-group mt-4">
            <label>Email: </label>
            <input type="text" class="form-group" formControlName="email">
          </div>
          <div class="form-group mt-4">
            <label>Customer type: </label>
            <select class="form-select select-modal-addNew" formControlName="customerType">
              <option selected *ngFor="let item of customerTypes"
                      [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group mt-4">
            <label>Address: </label>
            <input type="text" class="form-group" formControlName="address">
          </div>
          <button class="mt-4 bg-primary" type="submit"
                  [disabled]="rfCustomer.invalid"
          >Create
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
