<div class="row mt-4">
  <div class="col-6">
    <div class="card border-primary">
      <h3 class="card-header bg-primary">Product List</h3>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>No</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of products; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.description}}</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/update', item.id]">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" [routerLink]="['/delete', item.id]">Delete</button>




              <!--              &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--                Delete-->
<!--              </button>-->

<!--              &lt;!&ndash; Modal &ndash;&gt;-->
<!--              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--                   aria-hidden="true">-->
<!--                <div class="modal-dialog">-->
<!--                  <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                      ...-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                      <button type="button" class="btn btn-primary" [routerLink]="['/delete', item.id]">Delete</button>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->


            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




