<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
    <div th:insert="~{index::link}"></div>

</head>
<body>
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/common :: navNoSearch}"></div>

<h1>Edit employee</h1>
<th:block th:if="${message}">
    <span th:text="${message}" style="color: red"></span>
</th:block>
<form th:action="@{/employee/edit}" method="post" th:object="${employee}">
    <input type="text" th:field="*{id}" hidden/>
    <input type="text" th:field="*{stringId}" hidden>
    <table>
        <tr>
            <th style="text-align: left">Employee's name:</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>

        <tr>
            <th style="text-align: left">Employee's birthday:</th>
            <td><input type="date" th:field="*{employeeBirthday}">
                <span th:if="${#fields.hasErrors('employeeBirthday')}" th:errors="*{employeeBirthday}" style="color: red"></span>
            </td>
        </tr>
        <tr>
            <th style="text-align: left">Employee's id card:</th>
            <td><input type="text" th:field="*{idCard}">
                <span th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}" style="color: red"></span>
            </td>
        </tr>
        <tr>
            <th style="text-align: left">Salary:</th>
            <td><input type="text" th:field="*{salary}"></td>
        </tr>
        <tr>
            <th style="text-align: left">Employee's phone:</th>
            <td><input type="text" th:field="*{phone}">
                <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></span>
            </td>
        </tr>
        <tr>
            <th style="text-align: left">Employee's email:</th>
            <td><input type="text" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
            </td>
        </tr>
        <tr>
            <th style="text-align: left">Employee's address:</th>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <th style="text-align: left">Position:</th>
            <td>
                <select th:field="*{position}">
                    <option th:each="p : ${positions}" th:value="${p.id}"
                            th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th style="text-align: left">Education Degree:</th>
            <td>
                <select th:field="*{educationDegree}">
                    <option th:each="e : ${educationDegrees}" th:value="${e.id}"
                            th:text="${e.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th style="text-align: left">Division:</th>
            <td>
                <select th:field="*{division}">
                    <option th:each="d : ${divisions}" th:value="${d.id}"
                            th:text="${d.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th style="text-align: left">User:<span style="color: red">*read only</span> </th>
            <td><input type="text" th:field="*{account.accountName}" readonly style="background: red"></td>
        </tr>
        <tr hidden="hidden">
            <th style="text-align: left">Password:</th>
            <td><input type="text" th:field="*{account.password}" hidden></td>
        </tr>


        <tr>
            <td></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>


</form>


<div th:insert="~{common/footer :: footer}"></div>

</body>
</html>