<!--Search-->
<div class="row mt-4 mb-4" style="width: 100%">

</div>

<span style="color: red" *ngIf="message">{{message}}</span>

<div class="row mt-4 mb-4" style="width: 100%">
  <div class="">
    <div class="card border-primary">
      <h3 class="card-header bg-primary">Contract List</h3>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>No</th>
            <th>Code Contract</th>
            <th>Customer</th>
            <th>Service</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Deposits</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of contracts; let i = index">
            <td>{{i + 1}}</td>
            <td><a [routerLink]="['/contract/detail',item.id]">{{item.codeContract}}</a></td>
            <td>{{item.customer.name}}</td>
            <td>{{item.service.name}}</td>
            <td>{{item.dateStart}}</td>
            <td>{{item.dateEnd}}</td>
            <td>{{item.deposits}}</td>

            <td>
              <button class="btn btn-primary" [routerLink]="['/contract/update', item.id]">Edit</button>
            </td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="sendId(item.id, item.codeContract)"
                      data-bs-target="#exampleModal">
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-6 mt-4">
    <a class="btn btn-primary" routerLink="/contract/create" role="button">Create Contract</a>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Do you want to remove this contract</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{nameDelete}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete(idDelete)">Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!---->
<!---->
<!---->
<!---->
<!---->
