html {
    overflow: hidden;
}

.head_1 {
    background: #2c3034;
    height: 10%;
}

.footer_1 {
    background: #2c3034;
    height: 10%;
    color: gray;
}

#task p {
    color: gray;
}

#task div:hover p {
    color: white;
}

.left {
    background: #bcbebf;
}

.right {
    background: #bcbebf;
}

.contain {
    background: #7abaff;
}

.row {
    display: flex; /* nổi lên trên cùng một hàng*/
    flex-wrap: wrap;
    /*border: red solid;*/
}

a {
    text-decoration: none;
}


/*màn hình điện thoai*/
@media only screen and (max-width: 740px ) {
    .col-s-1 {
        width: 8.33333%;
    }

    .col-s-2 {
        width: 16.66667%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33333%;
    }

    .col-s-5 {
        width: 41.66667%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33333%;
    }

    .col-s-8 {
        width: 66.66667%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33333%;
    }

    .col-s-11 {
        width: 91.66667%;
    }

    .col-s-12 {
        width: 100%;
    }

    html {
        overflow: scroll;
    }

    .ads_s {
        width: 50%;
        padding: 0px 0px 0px 0px;
        border: black solid 1px;
        border-radius: 5px;
        color: black;
        text-align: center;
        position: relative;
    }
}

/*Màn hinh laptop và máy tính bảng*/
@media only screen and (min-width: 741px)and (max-width: 1240px) {
    .col-m-1 {
        width: 8.33333%;
    }

    .col-m-2 {
        width: 16.66667%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33333%;
    }

    .col-m-5 {
        width: 41.66667%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33333%;
    }

    .col-m-8 {
        width: 66.66667%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33333%;
    }

    .col-m-11 {
        width: 91.66667%;
    }

    .col-m-12 {
        width: 100%;
    }

    .ads_s {
        width: 50%;
        padding: 0px 0px 0px 0px;
        border-radius: 5px;
        border: black solid 1px;
        color: black;
        text-align: center;
        position: relative;
    }
}

/*Màn hình máy tính pc và tivi smart*/
@media only screen and (min-width: 1241px) {
    .col-l-1 {
        width: 8.33333%;
    }

    .col-l-2 {
        width: 16.66667%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33333%;
    }

    .col-l-5 {
        width: 41.66667%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33333%;
    }

    .col-l-8 {
        width: 66.66667%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33333%;
    }

    .col-l-11 {
        width: 91.66667%;
    }

    .col-l-12 {
        width: 100%;
    }

    .ads {
        /*background-color:#444950;*/
        /*display: block;*/
        width: 8.333%;
        padding: 0px 0px 0px 0px;
        margin-top: 8px;
        margin-left: 20px;
        line-height: 25px;
        font-size: 13px;
        border-radius: 5px;
        border: black solid 1px;
        color: black;
        text-align: center;
        position: absolute;
    }
}



