<!--Thuc hanh bai 1-->
<!--<app-todo></app-todo>-->


<!--Bai tap tao form - V01: dung ngModel, tuong tu tao create doi tuong-->
<app-register></app-register>

<!--Bai tap tao form - V02: dung [ngModel], tuong tu edit doi tuong, cai nay moi chi nhan du lieu-->
<!--<app-register-v2></app-register-v2>-->

<!--Bai tap tao form - V03: dung [(ngModel)], tuong tu edit doi tuong, 2way binding-->
<!--<app-register-v3></app-register-v3>-->

<!--le vu nguyen react form- : V04: dung react - form, validator--->

<!--<app-register-v4-react-form></app-register-v4-react-form>-->

<!--le vu nguyen react form- : V05: dung react - form, custom validator--->
<!--<app-register-v5-custom-validator></app-register-v5-custom-validator>-->
