<p>color works!</p>

<select #input style="width: 100px">
  <option value="red" style="background: red">Red</option>
  <option value="yellow" style="background: yellow">Yellow</option>
  <option value="blue" style="background: blue">Blue</option>
  <option value="black" style="background: black">Black</option>
</select>
<button (click)="changeColor(input.value)">Change Color</button>

<div>
  <table [ngStyle]="{'background' : color}" border="1">
    <tr>
      <td style="width: 100px; height: 100px"></td>
    </tr>

  </table>
</div>
