<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract detail list</title>
    <div th:insert="~{index::link}"></div>
    <div th:insert="~{index::script}"></div>
</head>
<body>
<div th:insert="~{common/header :: header}"></div>
<!--Navbar search-->
<div th:fragment="navSearch">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #0f5132">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home" style="color: white">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/employee" style="color: white">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/customer" style="color: white">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/service" style="color: white">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contract" style="color: white">Contract</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contractDetail" style="color: white">Contract-Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/customer/customerContract" style="color: white">Customer-using-service</a>
                </li>

            </ul>
            <form class="d-flex" th:action="@{/contractDetail/search}" method="get">
                <input th:value="${search}" name="search" class="form-control me-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit" style="color: white">Search</button>
            </form>
        </div>
    </nav>
</div>
<!--Nav search end-->
<h1>Contract Detail List</h1>
<th:block th:if="${message}">
    <span th:text="${message}" style="color: red"></span>
</th:block>

<a class="link-secondary" th:href="@{/contractDetail/create}">Create new contract detail</a>
<table class="table table-striped">
    <tr>
        <th>STT</th>
        <th>Id</th>
        <th>String Id</th>
        <th>Contract's name'</th>
        <th>Attach service</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="coD, iter:${contractDetails}" th:object="${coD}">
        <td th:text="${iter.count}"></td>
        <td th:text="*{id}"></td>
        <td th:text="*{stringId}"></td>
        <td th:text="*{contract.stringId}"></td>
        <td th:text="*{attachService.name}"></td>
        <td th:text="*{quantity}"></td>

        <td><a th:href="@{/contractDetail/edit/{id}(id=*{id})}">
            <button class="btn btn-warning">Edit</button>
        </a> </td>
        <td>
            <button class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#exampleModal'+${coD.id}">
                Delete
            </button>
        </td>

        <!-- Modal -->
        <div class="modal fade"
             th:attr="id='exampleModal'+${coD.id}"
             tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Blog</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span>Do you want remove </span><span style="color: red" th:text="*{stringId}"></span>
                        <span>?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                        </button>
                        <a th:href="@{/contractDetail/delete/{id}(id=*{id})}">
                            <button type="button" class="btn btn-primary">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </tr>
</table>


<div th:insert="~{common/footer :: footer}"></div>

</body>
</html>