<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract detail list</title>
    <div th:insert="~{index::link}"></div>
    <div th:insert="~{index::script}"></div>
</head>
<body>
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/common :: navSearch}"></div>

<h1>Contract Detail List</h1>
<th:block th:if="${message}">
    <span th:text="${message}" style="color: red"></span>
</th:block>

<a class="link-secondary" th:href="@{/contractDetail/create}">Create new contract detail</a>
<table class="table table-striped">
    <tr>
        <th>STT</th>
        <th>Id</th>
        <th>String Id</th>
        <th>Contract's name'</th>
        <th>Attach service</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="coD, iter:${contractDetails}" th:object="${coD}">
        <td th:text="${iter.count}"></td>
        <td th:text="*{id}"></td>
        <td th:text="*{stringId}"></td>
        <td th:text="*{contract.stringId}"></td>
        <td th:text="*{attachService.name}"></td>
        <td th:text="*{quantity}"></td>

        <td><a th:href="@{/contractDetail/edit/{id}(id=*{id})}">
            <button class="btn btn-warning">Edit</button>
        </a> </td>
        <td>
            <button class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#exampleModal'+${coD.id}">
                Delete
            </button>
        </td>

        <!-- Modal -->
        <div class="modal fade"
             th:attr="id='exampleModal'+${coD.id}"
             tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Blog</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span>Do you want remove </span><span style="color: red" th:text="*{stringId}"></span>
                        <span>?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                        </button>
                        <a th:href="@{/contractDetail/delete/{id}(id=*{id})}">
                            <button type="button" class="btn btn-primary">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </tr>
</table>


<div th:insert="~{common/footer :: footer}"></div>

</body>
</html>